@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: #f1f1f1;
  }
  
  
  .bg-circle-login:before {
    content: "";
    position: absolute;
    height: 512px;
    width: 680px;
    background: rgba(234, 106, 18, .2);
    border-radius: 50%;
    top: 0;
    right: 0;
    -webkit-transform: translate(62%, -100%) scale(3.5);
    transform: translate(62%, -100%) scale(3.5);
  }
  
  .user-img1 {
    position: fixed;
    top: 280px;
  }